---
import { Card, CardContent, CardHeader, CardTitle } from "@/components/ui/card";
---

<section
  id="teams"
  class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24"
>
  <div
    class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
  >
    <h2 class="font-heading text-3xl leading-[1.1] sm:text-3xl md:text-6xl">
      Teams
    </h2>
    <p
      class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
    >
      Tim yang terlibat dalam project
    </p>
  </div>
  <div
    class="mx-auto text-cente grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
  >
    <Card>
      <CardHeader>
        <CardTitle>Donatur</CardTitle>
      </CardHeader>
      <CardContent>
        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/donatur.png"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">Donatur 1</p>
                <p class="text-sm text-muted-foreground">Hamba Allah</p>
              </div>
            </div>
          </div>
        </div>
      </CardContent>
    </Card>

    <Card>
      <CardHeader>
        <CardTitle>Developer</CardTitle>
      </CardHeader>
      <CardContent>
        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/kangwie.webp"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">Kangwie</p>
                <p class="text-sm text-muted-foreground">Indatechno</p>
              </div>
            </div>
          </div>
        </div>

        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/agus-susanto.webp"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">Ndai</p>
                <p class="text-sm text-muted-foreground">Indatechno</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/ridho-rasyid.webp"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">M. Rosyid Ridho</p>
                <p class="text-sm text-muted-foreground">Cintamulya - Lamsel</p>
              </div>
            </div>
          </div>
        </div>
      </CardContent>
    </Card>

    <Card>
      <CardHeader>
        <CardTitle>Pondok Pesantren</CardTitle>
      </CardHeader>
      <CardContent>
        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/al-amin-cintamulya.png"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">Al Amin</p>
                <p class="text-sm text-muted-foreground">Cintamulya-Lamsel</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/al-hamid-cintamulya.png"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">Al Hamid</p>
                <p class="text-sm text-muted-foreground">Cintamulya-Lamsel</p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/abudzar-al-ghifari.png"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">
                  Abudzar Al-Ghifari
                </p>
                <p class="text-sm text-muted-foreground">Batanghari-LamTim</p>
              </div>
            </div>
          </div>
        </div>

        <div class="p-6 pt-0 grid gap-6">
          <div class="flex items-center justify-between space-x-4">
            <div class="flex items-center space-x-4">
              <span
                class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full"
                ><img
                  class="aspect-square h-full w-full"
                  src="/teams/mbs-cintamulya.webp"
                />
              </span><div>
                <p class="text-sm font-medium leading-none">MBS Cintamulya</p>
                <p class="text-sm text-muted-foreground">Cintamulya-LamSel</p>
              </div>
            </div>
          </div>
        </div>
      </CardContent>
    </Card>
  </div>
  <div class="mx-auto text-center md:max-w-[58rem]">
    <p
      class="leading-normal text-muted-foreground sm:text-lg sm:leading-7 balance-text"
    >
      Beberapa nama tim tidak ingin di sebut (menjaga privasi) <b>Santri-MU</b>
    </p>
  </div>
</section>
