---
import HomeContent from "@/components/Home/HomeContent";
---

<section id="home" class="flex justify-center items-center h-screen">
  <div class="flex flex-col items-center gap-3">
    <HomeContent client:load />
  </div>
</section>
