---
import LinkTree from "@/application/Contact/LinkTree.tsx";
import MotionDwi from "@/application/Contact/MotionDwi";
import MotionOne from "@/application/Contact/MotionOne";
import ContactContent from "@/application/Contact/ContactContent.tsx";
---
<div class="mx-auto grid grid-cols-1 md:grid-cols-2 w-full md:w-[80%] pt-6 pb-24">
<MotionDwi client:load />
<MotionOne client:load />
</div>
<ContactContent client:load />
